<h2>Skills</h2>

<ul>
  {{#each skills }} {{#unless promote}}
  <li data-id="{{ id }}">
    {{ name }}
    <span class="proficiency" style="--level: {{proficiency}}%"></span>
  </li>
  {{/unless}} {{/each}}
</ul>
