/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::selection {
  color: var(--selection-font-color);
  background: var(--selection-background-color);
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Add some sensible behaviour across browsers
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*
 * Default typography styles
 */
body {
  color: var(--font-color);
  background: var(--main-background-color);
  font-size: 16px;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  font-size: 0.75rem;
  font-weight: 400;
}
