/*
 * Make sure page looks good while printing it
 */
@page {
  size: A4;
  margin: 0;
}

@media print {
  :root {
    --side-panel-width: 25rem;
  }

  body {
    background: white;
    max-width: 95%;
    zoom: 85%;

    > header {
      [data-section="about"] {
        display: block;

        h2 {
          display: block;
          padding: 0 1.5rem 1rem;
        }

        img {
          display: none;
        }
      }
    }

    aside {
      /* Temporary hack for printing the page */
      /* roughly 3 pages A4 with the current content */
      height: 332vh;

      [data-section="languages"] {
        &::after {
          display: none;
        }
      }

      [data-section="skills"] {
        padding-top: 1rem;
      }
    }

    main [data-section] {
      padding-top: 2rem;

      &:first-child {
        padding-top: 0;
      }
    }

    footer {
      > span:last-child {
        display: none;
      }

      .logo {
        opacity: 0.25;
        position: fixed;
        left: 4rem;
        bottom: 2rem;
      }
    }
  }

  [data-section] {
    break-inside: avoid;
  }

  [data-id] {
    break-inside: avoid;
  }

  #headline {
    span,
    span.visible {
      animation: none;
      border: none;
      display: block;
      width: 100%;
    }
  }

  #contact-info {
    li {
      padding-bottom: 0.5rem;

      &[data-icon="mail"] {
        display: list-item;

        &::after {
          content: attr(data-start) "\0040" attr(data-origin) attr(data-end);
        }
      }

      a {
        font-size: 0;

        &::before {
          content: attr(href);
          font-size: 0.95rem;
        }

        &::after {
          background: none;
          content: none;
          display: none;
        }
      }
    }
  }
}
